@import './quasar.variables.scss';

.primary600 {
    color: $primary600;
}

.bg-primary600 {
    background-color: $primary600;
}

.primary100 {
    color: $primary100;
}

.bg-primary100 {
    background-color: $primary100;
}

.primary50 {
    color: $primary50;
}

.bg-primary50 {
    background-color: $primary50;
}

.blue600 {
    color: $blue600;
}

.bg-blue600 {
    background-color: $blue600;
}

.blue50 {
    color: $blue50;
}

.bg-blue50 {
    background-color: $blue50;
}

.red600 {
    color: $red600;
}

.bg-red600 {
    background-color: $red600;
}

.red50 {
    color: $red50;
}

.bg-red50 {
    background-color: $red50;
}

.orange600 {
    color: $orange600;
}

.bg-orange600 {
    background-color: $orange600;
}

.orange50 {
    color: $orange50;
}

.bg-orange50 {
    background-color: $orange50;
}

.green600 {
    color: $green600;
}

.bg-green600 {
    background-color: $green600;
}

.green50 {
    color: $green50;
}

.bg-green50 {
    background-color: $green50;
}

.content100 {
    color: $content100;
}

.bg-content100 {
    background-color: $content100;
}

.content400 {
    color: $content400;
}

.bg-content400 {
    background-color: $content400;
}

.content500 {
    color: $content500;
}

.bg-content500 {
    background-color: $content500;
}

.content800 {
    color: $content800;
}

.bg-content800 {
    background-color: $content800;
}

.content900 {
    color: $content900;
}

.bg-content900 {
    background-color: $content900;
}