// It's highly recommended to change the default colors
// to match your app's branding.

$primary600   : #7F56D9;
$primary100   : #F4EBFF;
$primary50    : #F9F5FF;
$blue600      : #0086C9;
$blue50       : #F0F9FF;
$red600       : #E31B53;
$red50        : #FFF1F3;
$orange600    : #DC6803;
$orange50     : #FFFAEB;
$green600     : #039855;
$green50      : #ECFDF3;
$content800   : #1D2939;
$content900   : #101828;
$content500   : #667085;
$content300   : #D0D5DD;
$content400   : #98A2B3;
$content100   : #F2F4F7;
$lime      : #669F2A;
$base-white: #FFFFFF;


@import '~quasar-variables-styl';
